{% extends '_layout.html.twig' %}

{% block title 'Accueil' %}

{% block stylesheet %}
    <link href="{{ asset('build/home.css') }}" rel="stylesheet" type="text/css">
{% endblock %}

{% block body %}
    <div class="container-fluid m-2">

        <div class="row">

            <div class="col-md-4 order-2 order-md-1 col- border border-darkcyan rounded h-25">

                <h3 class="font-weight-bold font-italic half-border-cyan mt-3">
                    Languages
                </h3>

                <div class="row d-flex justify-content-around mt-3">
                    <div class="col-3 col-md-6 col-lg-3 text-center my-2">
                        <p class="font-weight-bold m-0">
                            PHP
                        </p>
                        <img class="logo" src="{{ asset("img/logo/php.png") }}" alt="PHP">
                    </div>

                    <div class="col-3 col-md-6 col-lg-3 text-center my-2">
                        <p class="font-weight-bold m-0">
                            HTML
                        </p>
                        <img class="logo" src="{{ asset("img/logo/html.png") }}" alt="HTML 5">
                    </div>

                    <div class="col-3 col-md-6 col-lg-3 text-center my-2">
                        <p class="font-weight-bold m-0">
                            CSS
                        </p>
                        <img class="logo" src="{{ asset("img/logo/css.png") }}" alt="CSS 3">
                    </div>

                    <div class="col-3 col-md-6 col-lg-3 text-center my-2">
                        <p class="font-weight-bold m-0">
                            JS
                        </p>
                        <img class="logo" src="{{ asset("img/logo/js.png") }}" alt="Java Script">
                    </div>
                </div>

                <h3 class="font-weight-bold font-italic half-border-cyan mt-3">
                    Frameworks/ Librairies
                </h3>

                <div class="row d-flex justify-content-around mt-3">
                    <div class="col-3 col-md-6 col-lg-3  text-center my-2">
                        <p class="font-weight-bold m-0">
                            Symfony
                        </p>
                        <img class="logo_small" src="{{ asset("img/logo/symfony.png") }}" alt="Symfony">
                    </div>

                    <div class="col-3 col-md-6 col-lg-3  text-center my-2">
                        <p class="font-weight-bold m-0">
                            Bootstrap
                        </p>
                        <img class="logo_small" src="{{ asset("img/logo/bootstrap.png") }}" alt="Bootstrap">
                    </div>

                    <div class="col-3 col-md-6 col-lg-3  text-center my-2">
                        <p class="font-weight-bold m-0">
                            JQuery
                        </p>
                        <img class="logo" src="{{ asset("img/logo/jquery.png") }}" alt="Git">
                    </div>
                </div>

                <h3 class="font-weight-bold font-italic half-border-cyan mt-4">
                    Outils
                </h3>

                <div class="row d-flex justify-content-around my-3">
                    <div class="col-3 col-md-6 col-lg-3  text-center my-2">
                        <p class="font-weight-bold m-0">
                            Editeur
                        </p>
                        <img class="logo_small" src="{{ asset("img/logo/phpstorm.png") }}" alt="PHPStorm">
                    </div>

                    <div class="col-3 col-md-6 col-lg-3  text-center my-2">
                        <p class="font-weight-bold m-0">
                            OS
                        </p>
                        <img class="logo_small" src="{{ asset("img/logo/ubuntu.png") }}" alt="Ubuntu">
                    </div>

                    <div class="col-3 col-md-6 col-lg-3  text-center my-2">
                        <p class="font-weight-bold m-0">
                            Versioning
                        </p>
                        <img class="logo" src="{{ asset("img/logo/git.png") }}" alt="Git">
                    </div>
                </div>
            </div>

            <main class="container col-md-8 order-1 order-md-2 mb-4">
                <div class="text-center">
                    <h1 class="text-left half-border-cyan">
                        Nicolas BOSTJANCIC
                    </h1>

                    <h4>
                        Spécialisé dans le langage PHP et l'utilisation de Symfony
                    </h4>
                </div>

                <p class="text-center font-weight-bold font-italic lead my-5">
                    Vous souhaitez avoir un site internet personnalisé que vous pourrez administrer vous-même
                    facilement ?
                    <br>
                    Ne cherchez plus !
                </p>

                <div class="container">
                    <div class="row mt-5">
                        <div class="col-lg-12 col-xl-2 d-flex">
                            <h5 class="align-self-center half-border-cyan font-weight-bold font-italic">
                                Bienvenue
                            </h5>
                        </div>

                        <div class="col">
                            <p>
                                Si vous me lisez, c'est que vous avez le projet de créer un site web.
                                Que vous aillez une idée précise ou une vague idée du type de site que vous
                                souhaitez, je suis en mesure de répondre à votre besoin.
                            </p>
                        </div>
                    </div>

                    <hr>

                    <div class="row">
                        <div class="col-lg-12 col-xl-2 d-flex">
                            <h5 class="align-self-center half-border-cyan font-weight-bold font-italic">
                                Présentation
                            </h5>
                        </div>

                        <div class="col">
                            <p>
                                Issue d'une formation de Développeur d'Application Web spécialisé dans le langage
                                PHP et l'utilisation du framework Symfony,
                                je vous accompagne dans l'élaboration de votre projet et m'engage
                                à le réaliser dans le cadre d'un cahier des charges définis ensemble.
                            </p>
                        </div>
                    </div>
                </div>

                <p class="text-center font-italic mt-5">
                    Rendez-vous dans la section <a href="{{ path('project_list') }}">"Mes projets"</a> pour avoir un
                    aperçu
                    de mes
                    différentes réalisations !
                </p>
            </main>

        </div>
    </div>

{% endblock %}
